@import 'menubar';
@import 'toolbar';
@import 'tooltip';

* {
	box-sizing: border-box;
	outline: 0;
}

body {
	overflow: hidden;

	font-family: 'IBM Plex Sans', sans-serif;
	line-height: 1.17;
	letter-spacing: 0.7px;

	width: 100vw;
	height: 100vh;
}

#app {
	display: flex;
	flex-direction: column;

	height: 100%;
	width: 100%;
}

.u {
	text-decoration: underline;
}

.workspace {
	flex: 1 1 0;
	min-height: 0;

	display: flex;
}

.pallette {
	background: #f8f8f8;
	border-right: 0 solid #0061ff;

	width: 0;

	transition: width 0.3s, border 0.3s;

	&.open {
		width: 20vw;

		border-right-width: 2px;
	}
}

.space {
	overflow: auto;
	height: 100%;

	flex: 1 1 0;
}

.code {
	background: #f8f8f8;
	border-left: 0 solid #0061ff;

	width: 0;

	transition: width 0.3s, border 0.3s;

	&.open {
		width: 20vw;

		border-left-width: 2px;
	}
}

.status-bar {
	background: #f2f7ff;
	border-top: 2px solid #0061ff;

	height: 32px;
	padding: 4px 12px;

	display: flex;
	align-items: center;
}
