#contextmenu {
	display: none;
	position: absolute;

	background: #f3f8ff;
	border: 2px solid #0061ff;
	box-sizing: border-box;
	border-radius: 4px;

	// font-size: 0.8rem;

	// padding: 4px;

	// pointer-events: none;

	filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));

	transform: scale(0.8);
	opacity: 0;
	transform-origin: top left;

	transition: transform 0.1s, opacity 0.1s;
	.not-ready & {
		transition: all 0s !important;
	}

	white-space: nowrap;

	&>ul {
		margin: 0;
    padding: 0;
    list-style: none;
	}

	&>ul>li {
		padding: 8px;
		cursor: pointer;
    white-space: nowrap;

		&.newcategory {
			border-top: 2px solid #0061ff;
		}

		&:hover {
			background: rgba(0, 0, 0, 0.1);
		}
	}
}
