@import 'bulma/sass/utilities/_all';

.common-dialog {
	display: none;

	.wb-body & {
		display: flex;
		min-height: 100%;
		flex-direction: column;
	}

	padding: 1rem;

	strong {
		margin: 0.75rem 0;
		display: block;
	}

	> .separator {
		display: block;
		height: 4px;
		background: linear-gradient(90deg, #0061ff, #8a3ffc);
		margin: 1.25rem -1rem 1rem;
	}

	> .space {
		flex: 1 1 0%;
		height: 0;
	}
}

#execute-circuit-dialog {
	> .circuit-preview {
		height: 200px;
		overflow: scroll hidden;

		border: 1px solid $border;
		border-radius: 4px;

		> img {
			width: auto;
			height: 100%;
		}
	}
}
