@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
    box-shadow: 0 0 0 0 #0061ff;
    border-radius: 4px;
  }
  50%{
    opacity: 1;
    transform: translateX(0);
  }
  to {
    box-shadow: 0 0 0 64px #8A3FFC00;
    border-radius: 4px;
  }
}

#guideline {
  position: fixed;
  bottom: 48px;
  right: 1%;
  width: 20%;

  transition: right 0.3s, opacity 0.1s;
  will-change: right, opacity, transform, box-shadow;

  animation: slide-in 0.6s forwards;

  > .box {
    // box-shadow: none;
    border: $primary 2px solid;

    > strong {
      font-size: 1.2em;
      display:block;
      margin-bottom: 0.5rem;
    }
  }
}

.code-open > #guideline {
  right: 21%;
}