.menubar {
	width: 100%;
	height: 48px;

	background: linear-gradient(90deg, #0061ff 0%, #8a3ffc 100%), #0061ff;

	display: flex;

	font-weight: 300;

	color: #ffffff;

	> .left {
		flex: 1 1 0;
		display: flex;
	}

	> .center {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	> .right {
		flex: 1 1 0;

		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

.menubar-btn {
	all: unset;

	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0;
	padding: 0 16px;

	height: 48px;

	cursor: pointer;

	&:hover {
		background: rgba(0, 0, 0, 0.1);
	}
}
