@charset "UTF-8";

@font-face {
	font-family: LMR;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('lmroman8-regular'),
		url('https://cdn.jsdelivr.net/gh/rootEnginear/Qemmet/fonts/lmroman8-regular.otf')
			format('opentype');
}

@font-face {
	font-family: LMR;
	font-style: oblique;
	font-weight: 400;
	font-display: swap;
	src: local('lmromanslant8-regular'),
		url('https://cdn.jsdelivr.net/gh/rootEnginear/Qemmet/fonts/lmromanslant8-regular.otf')
			format('opentype');
}

@font-face {
	font-family: LMM;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('latinmodern-math'),
		url('https://cdn.jsdelivr.net/gh/rootEnginear/Qemmet/fonts/latinmodern-math.otf')
			format('opentype');
}
